{{> head }}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Salvador Dalí</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tenetur minima quam veniam dicta ducimus magnam. Magni, distinctio! Iure hic molestias vitae iusto, architecto aliquam magnam libero repudiandae quos recusandae.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/dali.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}